*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height:8vh;
    width:100vw;
    background-color: black;
    color: white;
}
ul{
    height: inherit;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
